---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="¿Quién es Oscar Barajas Tavares | About">
  <Page title="¿Quién es Oscar Barajas Tavares">
    <video autoplay="" loop=""
      ><source
        src="https://res.cloudinary.com/gndxdev/video/upload/v1622955538/gndx-video_ytpnow.mp4"
        type="video/mp4"
      />
    </video>
    <p>Nacido en Torreón, Coahuila, México, y actualmente residiendo en Medellín, Colombia, me desempeño como Learning Engineer en Platzi, una destacada plataforma de educación en línea. Mi principal objetivo en esta posición es diseñar y desarrollar experiencias educativas enriquecedoras e innovadoras que empoderen a los estudiantes en su proceso de aprendizaje.</p>
    <p>Con un fuerte compromiso en el crecimiento y desarrollo de la comunidad educativa en línea, estoy dedicado a compartir mi conocimiento y habilidades para impulsar un cambio positivo en la vida de aquellos que deseen aprender y crecer en el ámbito tecnológico y digital.</p>
    <p>
      Me encantan las comunidades, Participo fuertemente en la comunidad de
      Platzi, me encuentras en los meetups en Medellín y en la comunidad de
      Platzi, Google Developer Group Medellín entre otras.
    </p>
    <h3>Especialidades</h3>
    <p>
      Soy un apasionado por las tecnologías Web, enseño programación con
      JavaScript, Solidity, React, NextJS, Astro, TypeScript, Node, GitHub.
    </p>
    <h3>Trayectoria</h3>
    <p>
      Desarrollador FrontEnd con más de 22 años de experiencia, creando mi
      primera página web en el 2001, Actualmente Learning Engineer en
      Platzi.com, Nombrado Microsoft Most Valuable Professional desde el 2021 y
      mejor conocido como @gndx en redes sociales.
    </p>
    <p>
      He impartido más de 600 conferencias y Workshops a lo largo de
      Latinoamérica, en las principales comunidades, ciudades y países.
    </p>
    <h3>Cursos</h3>
    <p>
      Actualmente, tengo 28 Cursos donde enseño todo lo relacionado con
      JavaScript en Platzi.com.
    </p>
    <h3>Reconocimientos</h3>
    <p>Desde el 2020 soy reconocido como <a href="https://mvp.microsoft.com/es-ES/MVP/profile/56d95e50-7976-eb11-a812-000d3a8dfe0d" target="_blank" rel="noopener noreferrer">Microsoft MVP (Most Valuable Professional)</a>.</p>

    <img src="https://s3.amazonaws.com/gndx.dev/MVP_Badge_Horizontal_Secondary_DarkBlue7694_RGB.png" alt="Microsoft MVP (Most Valuable Professional)">

    <h3>Proyectos recientes</h3>
    <p>
      Me apasiona escribir y crear contenido sobre ReactJS en mi canal de
      YouTube y en este blog donde escribo de JavaScript y las conferencias que
      imparto.
    </p>
    <h3>Mi Historia</h3>
    <p>
      En este episodio de Humans of Platzi, cuento mis inicios, la historia
      detrás de Oscar Barajas Tavares.
    </p>
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/episode/1O8kLbcmnkMElqevCERK9K?utm_source=generator"
      width="100%"
      height="352"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>
  </Page>
</Base>
