---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="Media Kit">
  <Page title="¡Bienvenido a mi kit de medios!">
    <p>
      Soy Oscar Barajas, un creador en el ámbito educativo. Genero contenido en
      Instagram, YouTube, LinkedIn TikTok y Twitter. ¡Me encantaría colaborar
      contigo! Echa un vistazo a mis estadísticas a continuación.
    </p>
    <h3>
      TOTAL FOLLOWERS 115k
      <a
        href="https://beacons.ai/gndx/mediakit"
        target="_blank"
        class="text-sm"
      >
        (Informacion verificada por Beacons)
      </a>
    </h3>
    <br />
    <p>Gracias por tu interés en patrocinar mis videos.</p>
    <p>
      Como puedes apreciar, esta página es completamente pública, tanto para mis
      patrocinadores como para mis seguidores.
    </p>
    <p>
      Aquí detallo algunos aspectos clave sobre cómo colaboro con
      patrocinadores:
    </p>
    <ul>
      <li>
        Los videos patrocinados no incluyen anuncios "pre-roll" de YouTube ni
        banners publicitarios. Un video patrocinado únicamente contiene
        publicidad del patrocinio bajo mi control. Si un video no está
        patrocinado, activaré los anuncios "pre-roll" y el algoritmo de YouTube
        seleccionará la publicidad adecuada para mi audiencia.
      </li>
      <li>
        No realizo reseñas o videos exclusivamente patrocinados de productos o
        servicios; solo hago integraciones (segmentos de 60 a 120 segundos en
        los que menciono tu producto o servicio).
      </li>
      <li>
        El contenido que produzco es de mi autoría y cada video se basa en temas
        que elijo por su relevancia para mi audiencia. No me comprometo con
        temas específicos para el video que contenga la integración.
      </li>
      <li>
        No proporciono avances del video completo a las empresas interesadas en
        colaborar conmigo antes de su publicación. Sin embargo, sí comparto
        avances del segmento patrocinado.
      </li>
      <li>
        No acepto patrocinios de productos relacionados con criptomonedas o
        NFTs, Inversiones, Forex o similares.
      </li>
      <li>
        No se aceptan patrocinios por afiliados/referidos sin un contrato por
        promocion de contenido patrocinado mensualmente.
      </li>
      <li>
        No garantizo un número determinado de visitas a mis videos ni la
        participación de mi comunidad en tu servicio o producto, ya que hay
        muchas variables fuera de mi control.
      </li>
    </ul>
    <p>
      Agradezco que hayas dedicado tiempo a leer esta información. Si bien es
      posible que no cubra todos los casos posibles, te ofrecerá una idea clara
      de cómo trabajo.
    </p>
    <p>
      Si estás de acuerdo con estos términos y deseas colaborar conmigo, no
      dudes en <a href="mailto:oscar+sponsors@gndx.dev">
        enviarme un correo electrónico</a
      > para coordinar una reunión.
    </p>
    <p class="text-sm mt-12">Plantilla: PeladoNerd</p>
  </Page>
</Base>
