---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
import { Image } from "astro:assets";

---

<Base meta_title="GNDX Stack/Setup 2024 ">
  <Page title="Stack 2024">
    <p>
      Te comparto algunos de los elementos que me acompañan en mi día a día como
      profesional de desarrollo de software. Aunque no están todos detallados en
      estas listas, se incluyen los más relevantes. Espero que te sirvan de
      inspiración y que también compartas tu propio setup conmigo.
    </p>
    <div class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-6">
        <a href="https://x.com/gndx/status/1723778401889050976?s=20" target="_blank">
        <Image
          alt="GNDX Stack 2024"
          src="/gndx-mac-studio-m2-max-principal-setup.jpg"
          class="h-96 w-full object-cover"
          width={2048}
          height={1536}
          decoding="async"
          loading="lazy">
        </a>
        <a href="https://x.com/gndx/status/1723779064417104290?s=20" target="_blank">
        <Image
          alt="GNDX Stack 2024"
          src="/gndx-setup-2024-full-studio.jpg"
          class="h-96 w-full object-cover"
          width={2048}
          height={1536}
          decoding="async"
          loading="lazy">
        </a>
    </div>
    <div class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-6">
      <div
        class="relative block overflow-hidden rounded-lg border border-gray-100 px-6 py-3"
      >
        <span
          class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
        ></span>

        <div class="flex justify-between items-center mt-6">
          <span class="font-bold text-gray-900">MacOS Setup Principal</span>
          <div class="block">💻</div>
        </div>

        <ul class="list-outside text-sm text-gray-600">
          <li>
            <a
              href="https://amzn.to/40UqpU9"
              target="_blank"
              class="text-gray-500 hover:text-green-600">Mac Studio M2 Max</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3SHeIuf"
              target="_blank"
              class="text-gray-500 hover:text-green-600">MacBook Pro M1 Pro</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3D9Ws6R"
              target="_blank"
              class="text-gray-500 hover:text-green-600"
              >2 Monitor Samsung 27"</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3FhxBAV"
              target="_blank"
              class="text-gray-500 hover:text-green-600">Logitech MX Master 3</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/46Bk3u3"
              target="_blank"
              class="text-gray-500 hover:text-green-600">Apple Keyboard (EN)</a
            >
          </li>
        </ul>
      </div>
      <div
        class="relative block overflow-hidden rounded-lg border border-gray-100 px-6 py-3"
      >
        <span
          class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
        ></span>

        <div class="flex justify-between items-center mt-6">
          <span class="font-bold text-gray-900">Windows 11 Setup</span>
          <div class="block">🖥️</div>
        </div>

        <ul class="list-outside text-sm text-gray-600">
          <li>
            <a
              href="https://amzn.to/46yt3Qy"
              target="_blank"
              class="text-gray-500 hover:text-green-600"
            >
              AMD Ryzen™ 5 3600X 6 núcleos 4.4GHz</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/40VJDZu"
              target="_blank"
              class="text-gray-500 hover:text-green-600"
              >NVIDIA GeForce GTX 1660 Super 6GB</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/49YWpuu"
              target="_blank"
              class="text-gray-500 hover:text-green-600"
              >32GB SPECTRIX D60G RGB DDR4 3200 2x16GB</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3SB3xmB"
              target="_blank"
              class="text-gray-500 hover:text-green-600"
              >Asus ROG Falchion 60%</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3FmiBBJ"
              target="_blank"
              class="text-gray-500 hover:text-green-600">Razer Mamba Elite</a
            >
          </li>
        </ul>
      </div>

      <div
        class="relative block overflow-hidden rounded-lg border border-gray-100 px-6 py-3"
      >
        <span
          class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
        ></span>

        <div class="flex justify-between items-center mt-6">
          <span class="font-bold text-gray-900">Audio y música</span>
          <div class="block">🎧</div>
        </div>

        <ul class="list-outside text-sm text-gray-600">
          <li>
            <a
              href="https://amzn.to/3faIolG"
              target="_blank"
              class="text-gray-500 hover:text-green-600"
            >
              AirPods MAX</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3gLuJSB"
              target="_blank"
              class="text-gray-500 hover:text-green-600">AirPods Pro</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3RhZJt3"
              target="_blank"
              class="text-gray-500 hover:text-green-600"
              >Barra de Sonido HW-T400</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3sA70aM"
              target="_blank"
              class="text-gray-500 hover:text-green-600">Shure MV7</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3W8yRvU"
              target="_blank"
              class="text-gray-500 hover:text-green-600">Elgato Wave XLR</a
            >
          </li>
        </ul>
      </div>
      <div
        class="relative block overflow-hidden rounded-lg border border-gray-100 px-6 py-3"
      >
        <span
          class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
        ></span>

        <div class="flex justify-between items-center mt-6">
          <span class="font-bold text-gray-900">Gadgets</span>
          <div class="block">🤖</div>
        </div>

        <ul class="list-outside text-sm text-gray-600">
          <li>
            <a
              href="https://amzn.to/3SEknkM"
              target="_blank"
              class="text-gray-500 hover:text-green-600"
            >
              2 Elgato Key Light Air</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3TFIiS7"
              target="_blank"
              class="text-gray-500 hover:text-green-600">Elgato Cam Link 4K</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3SJwRaC"
              target="_blank"
              class="text-gray-500 hover:text-green-600">Canon EOS M200</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3SIhBLf"
              target="_blank"
              class="text-gray-500 hover:text-green-600">Philips Hue</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3SVmUat"
              target="_blank"
              class="text-gray-500 hover:text-green-600">Standing Desk</a
            >
          </li>
        </ul>
      </div>
      <div
        class="relative block overflow-hidden rounded-lg border border-gray-100 px-6 py-3"
      >
        <span
          class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
        ></span>

        <div class="flex justify-between items-center mt-6">
          <span class="font-bold text-gray-900">Entretenimiento</span>
          <div class="block">🎮</div>
        </div>

        <ul class="list-outside text-sm text-gray-600">
          <li>
            <a
              href="https://amzn.to/415bvKQ"
              target="_blank"
              class="text-gray-500 hover:text-green-600"
            >
              Xbox Series S</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/46Emyvw"
              target="_blank"
              class="text-gray-500 hover:text-green-600">Motorola Edge 30</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/40UqpU9"
              target="_blank"
              class="text-gray-500 hover:text-green-600">iPhone Mini 12</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/3TXz2IP"
              target="_blank"
              class="text-gray-500 hover:text-green-600">iPad Pro M1</a
            >
          </li>
          <li>
            <a
              href="https://amzn.to/46yePiK"
              target="_blank"
              class="text-gray-500 hover:text-green-600">Kindle Paperwhite</a
            >
          </li>
        </ul>
      </div>

      <div
        class="relative block overflow-hidden rounded-lg border border-gray-100 px-6 py-3"
      >
        <span
          class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
        ></span>

        <div class="flex justify-between items-center mt-6">
          <span class="font-bold text-gray-900">Software</span>
          <div class="block">💾</div>
        </div>

        <ul class="list-outside text-sm text-gray-600">
          <li>
            <a
              href="https://www.blackmagicdesign.com/products/davinciresolve"
              target="_blank"
              class="text-gray-500 hover:text-green-600"
            >
              Davinci Resolve 18</a
            >
          </li>
          <li>
            <a
              href="https://app.warp.dev/referral/2YXKGD"
              target="_blank"
              class="text-gray-500 hover:text-green-600">Warp Terminal</a
            >
          </li>
          <li>
            <a
              href="https://bjango.com/mac/istatmenus/"
              target="_blank"
              class="text-gray-500 hover:text-green-600">iStat Menus 6</a
            >
          </li>
          <li>
            <a
              href="https://1password.com/"
              target="_blank"
              class="text-gray-500 hover:text-green-600">1Password</a
            >
          </li>
          <li>
            <a
              href="https://www.namecheap.com/vpn-ppc/"
              target="_blank"
              class="text-gray-500 hover:text-green-600">FastVPN</a
            >
          </li>
        </ul>
      </div>
    </div>
    <p class="py-4 text-sm">
      *Todos los enlaces de Amazon "Incluyen" mi enlace de referido.
    </p>
  </Page>
</Base>
