<svg class="h-5 w-5 fill-current" viewBox="0 0 20 20">
  <title>Buscar</title>
  <path
    d="M12.9 11.5l4.1 4.1-1.4 1.4-4.1-4.1a6 6 0 1 1 1.4-1.4zM8 12A4 4 0 1 0 8 4a4 4 0 0 0 0 8z"
  ></path>
</svg>
